<ul class="row {{if (gte sortedComments.length threshold) "hide"}}">
  {{#each sortedComments as |comment|}}
  <li class="row"><span>Jerry Yang</span> {{comment.content}}</li>
  {{/each}}
</ul>
<ul class="row {{if (lt sortedComments.length threshold) "hide"}}">
  <li class="row"><span>Andrew Berkowitz</span> {{firstComment.content}}</li>
  {{#link-to "posts.post" post.id}}
    <li class="row"><i class="ellipsis horizontal icon"></i></li>
  {{/link-to}}
  <li class="row"><span>Andrew Berkowitz</span> {{lastButOneComment.content}}</li>
  <li class="row"><span>Andrew Berkowitz</span> {{lastComment.content}}</li>
</ul>
