<header class="card-head ui equal width grid">
  <div class="row hide">
    <div class="column {{if post.pinned "" "hide"}}">
      <i class="pin icon"></i> PINNED
    </div>
    <div class="float-rt">
      <i class="remove icon side-icon"></i>
    </div>
  </div>
</header>
<main class="card-body ui grid">
  <section class="row">
    <p class="three wide column">
      <img class="thumb-img" src="" alt="author's photo" />
    </p>
    <p class="thirteen wide column">
      <div class="name">Yaw Boakye</div>
      <time class="time-location">
        {{moment-from-now post.createdAt}}
        <mark class="edited {{unless post.edited "hide"}}">
          Edited
        </mark>
      </time>
    </p>
    <nav class="float-rt">
      <i class="ellipsis vertical icon side-icon"></i>
    </nav>
  </section>
  <section class="post-body row">
    <p class="post-text row">{{post.itemText}}</p>
    <p class="post-extra"></p>
  </section>
</main>
<footer class="card-end">
  <hr class="marg1" />
  <section class="ui grid black">
    {{#link-to
        "posts.post"
        post.id
        (query-params s="likes")
        class="three wide column"}}
        <span>{{post.likes.length}}</span>&nbsp;Likes
    {{/link-to}}
    {{#link-to
        "posts.post"
        post.id
        (query-params s="comments")
        class="five wide column"}}
      <span>{{post.comments.length}}</span>&nbsp;Comments
    {{/link-to}}
  </section>
  <hr class="marg1" />
  <section class="ui equal width grid">
    {{#link-to "index" class="column" click=(action likeAction post.id)}}
      <i class="empty heart icon"></i>&nbsp;{{likeText}}
    {{/link-to}}
    {{#link-to
      "posts.post"
      post.id
      (query-params s="comments")
      class="column" }}
      <i class="outline comment icon"></i>&nbsp;Comment
    {{/link-to}}
    <a class="column">
      <i class="external share icon"></i>&nbsp;Share
    </a>
  </section>
  {{timeline-items/cesspool post=post}}
</footer>
