<textarea
  class="writebox"
  rows={{rows}}
  minlength="1"
  maxlength="1000"
  autocapitalize="sentences"
  spellcheck=true
  autofocus="true"
  onchange={{action (mut text) value="target.value"}}>{{text}}</textarea>
<ul class="preview {{unless (eq kind "photo-timeline-item") "hide"}}">
  {{#each photos as |photo i|}}
    <li
      class="thumbnail"
      style="background-image:url({{photo.url}})">
      <i class="remove icon" data-value={{i}} onclick={{removePhoto}}></i>
    </li>
  {{/each}}
</ul>
