<h1>Timeline</h1>
<ul>
  <li>
    <form onsubmit={{action "addTimelineItem"}}>
      <input
        class="textbox"
        onchange={{action (mut timelineItemText) value="target.value"}}
        placeholder="Got anything for the group?"
        required />
      <input type="submit" value="Post" />
    </form>
  </li>
  {{#each posts as |post|}}
  <li class="post-component">
    <span>{{post.itemText}}</span><br>
    {{#link-to 'posts.post' post.id}}
      <span>{{post.comments.length}} comments</span>
    {{/link-to}}&nbsp;/&nbsp;
    <span>{{post.likes.length}} likes</span>&nbsp;/&nbsp;
    <span onclick={{action likeAction post}}>{{likeText}}</span>
    <ul class="summary-comments {{if (eq post.comments.length 0) "hide"}}">
      {{#each post.comments as |comment|}}
        <li>{{comment.content}}</li>
      {{/each}}
    </ul>
  </li>
  {{/each}}
</ul>
